# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cloud
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/cloud

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:4000

# Node Environment
NODE_ENV=development

# Ports
PORT=4000
